<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span>考试列表</span>
  </li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            考试信息
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <a style="cursor:pointer;" (click)="onGetExamInfo('学历类考试')">
                  <div class="card">
                    <div class="card-body p-0 d-flex align-items-center">
                      <i class="icon-graduation icons bg-info p-2 font-2xl mr-3"></i>
                      <div>
                        <div class="text-value-sm text-info">学历类考试</div>
                        <div class="text-muted text-uppercase font-weight-bold small">报名中</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-2">
                <a style="cursor:pointer;" (click)="onGetExamInfo('计算机类考试')">
                  <div class="card">
                    <div class="card-body p-0 d-flex align-items-center">
                      <i class="icon-screen-desktop icons bg-warning p-2 font-2xl mr-3"></i>
                      <div>
                        <div class="text-value-sm text-warning">计算机类考试</div>
                        <div class="text-muted text-uppercase font-weight-bold small">报名中</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-2">
                <a style="cursor:pointer;" (click)="onGetExamInfo('外语类考试')">
                  <div class="card">
                    <div class="card-body p-0 d-flex align-items-center">
                      <i class="icon-speech icons bg-success p-2 font-2xl mr-3"></i>
                      <div>
                        <div class="text-value-sm text-success">外语类考试</div>
                        <div class="text-muted text-uppercase font-weight-bold small">报名中</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-2">
                <a style="cursor:pointer;" (click)="onGetExamInfo('会计类考试')">
                  <div class="card">
                    <div class="card-body p-0 d-flex align-items-center">
                      <i class="icon-calculator icons bg-danger p-2 font-2xl mr-3"></i>
                      <div>
                        <div class="text-value-sm text-danger">会计类考试</div>
                        <div class="text-muted text-uppercase font-weight-bold small">报名中</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-2">
                <a style="cursor:pointer;" (click)="onGetExamInfo('资格类考试')">
                  <div class="card">
                    <div class="card-body p-0 d-flex align-items-center">
                      <i class="icon-badge icons bg-primary p-2 font-2xl mr-3"></i>
                      <div>
                        <div class="text-value-sm text-primary">资格类考试</div>
                        <div class="text-muted text-uppercase font-weight-bold small">报名中</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-2">
                <a style="cursor:pointer;" (click)="onGetExamInfo('工程类考试')">
                  <div class="card">
                    <div class="card-body p-0 d-flex align-items-center">
                      <i class="icon-wrench icons bg-indigo p-2 font-2xl mr-3"></i>
                      <div>
                        <div class="text-value-sm text-indigo">工程类考试</div>
                        <div class="text-muted text-uppercase font-weight-bold small">报名中</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <a style="cursor:pointer;" (click)="onGetExamInfo('医学类考试')">
                  <div class="card">
                    <div class="card-body p-0 d-flex align-items-center">
                      <i class="icon-chemistry icons bg-pink p-2 font-2xl mr-3"></i>
                      <div>
                        <div class="text-value-sm text-pink">医学类考试</div>
                        <div class="text-muted text-uppercase font-weight-bold small">报名中</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-2">
                <a style="cursor:pointer;" (click)="onGetExamInfo('金融类考试')">
                  <div class="card">
                    <div class="card-body p-0 d-flex align-items-center">
                      <i class="icon-wallet icons bg-wheat p-2 font-2xl mr-3"></i>
                      <div>
                        <div class="text-value-sm text-wheat">金融类考试</div>
                        <div class="text-muted text-uppercase font-weight-bold small">报名中</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-2">
                <a style="cursor:pointer;" (click)="onGetExamInfo('在校考试')">
                  <div class="card">
                    <div class="card-body p-0 d-flex align-items-center">
                      <i class="icon-note icons bg-purple p-2 font-2xl mr-3"></i>
                      <div>
                        <div class="text-value-sm text-purple">在校考试</div>
                        <div class="text-muted text-uppercase font-weight-bold small">报名中</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-2">
                <a style="cursor:pointer;" (click)="onGetExamInfo('其他')">
                  <div class="card">
                    <div class="card-body p-0 d-flex align-items-center">
                      <i class="icon-options icons bg-gray p-2 font-2xl mr-3"></i>
                      <div>
                        <div class="text-value-sm text-gray">其他</div>
                        <div class="text-muted text-uppercase font-weight-bold small">报名中</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <hr>
            <table class="table table-responsive-sm table-bordered thead-default" *ngIf="isShowExamInfo">
              <thead>
              <tr>
                <th>考试名称</th>
                <th>考试类型</th>
                <th>报名费用</th>
                <th>报名截止日期</th>
                <th>已报名人数/上限人数</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let exams of examInfo">
                <td>{{exams.examName}}</td>
                <td>{{exams.examType}}</td>
                <td>{{exams.cost}}元</td>
                <td>{{exams.regTimeTo}}</td>
                <td>{{exams.registNum}}/{{exams.maxNum}}</td>
                <td *ngIf="exams.regTimeTo >= nowDay">
                  <span class="badge badge-warning">报名进行中</span>
                </td>
                <td *ngIf="exams.regTimeTo < nowDay">
                  <span class="badge badge-success">报名完成</span>
                </td>
                <td>
                  <button type="button" class="btn btn-sm btn-primary" (click)="onDetails(exams)"> 详情
                  </button>
                  <button *ngIf="exams.regTimeTo < nowDay" type="button" class="btn btn-sm btn-primary"
                          (click)="onGetExcel(exams.examId)"> 下载考生信息excel
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</div>
