<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">成绩相关</li>
  <li class="breadcrumb-item">成绩报表</li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <table class="table table-responsive-sm table-bordered thead-default">
              <thead>
              <tr>
                <th>考试编号</th>
                <th>考试名称</th>
                <th>报考人数</th>
                <th>考试日期</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let exams of examInfo">
                <td>{{exams.examId}}</td>
                <td>{{exams.examName}}</td>
                <td>{{exams.registNum}}</td>
                <td>{{exams.examTimePeriod1 | strLength: 10}}</td>
                <td>
                  <button type="button" class="btn btn-sm btn-primary" (click)="onGetExamReport(exams.examId)"> 查看/下载报表
                  </button>
                  <button type="button" class="btn btn-sm btn-primary" (click)="onGetExcel(exams.examId)"> 下载成绩信息excel
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</div>
