<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span>成绩报表</span>
  </li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    score-details works!

    <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>

    <ng-template #template>
      <div class="alert alert-success mb-0">
        <strong>Well done!</strong> You successfully read this important alert message.
        <button type="button" class="close" (click)="modalRef.hide()"><i class="icon-check icons font-2xl"></i></button>
        <button type="button" class="close" (click)="modalRef.hide()"><i class="icon-close icons font-2xl"></i></button>
      </div>
    </ng-template>
  </div>
</div>
