<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">考试信息</li>
  <li class="breadcrumb-item">网上缴费</li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            未缴费信息
          </div>
          <div class="card-body">
            <table class="table table-responsive-sm table-bordered thead-default">
              <thead>
              <tr>
                <th>考试编号</th>
                <th>考试名称</th>
                <th>报名费用</th>
                <th>考试时间</th>
                <th>缴费截止日期</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let unpaid of unpaidInfo">
                <td>{{unpaid.examId}}</td>
                <td>{{unpaid.examName}}</td>
                <td>{{unpaid.cost}}</td>
                <td>{{unpaid.examTimePeriod1 | strLength: 10}}</td>
                <td>{{unpaid.regTimeTo}}</td>
                <td>
                  <button type="submit" class="btn btn-sm btn-primary"
                          (click)="onPayTest(unpaid.examName, unpaid.cost, unpaid.examId)"> 缴费
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            已缴费信息
          </div>
          <div class="card-body">
            <table class="table table-responsive-sm table-bordered thead-default">
              <thead>
              <tr>
                <th>考试编号</th>
                <th>考试名称</th>
                <th>报名费用</th>
                <th>考试时间</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let paid of paidInfo">
                <td>{{paid.examId}}</td>
                <td>{{paid.examName}}</td>
                <td>{{paid.cost}}</td>
                <td>{{paid.examTimePeriod1 | strLength: 10}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</div>
