<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span>已报名考试/报名详情</span>
  </li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="row mb-3">
          <div class="col-md-3 text-center p-0"><h4 class="text-muted m-0">完善报名信息</h4></div>
          <div class="col-md-3 text-center p-0"><h6 class="text-muted m-0">报名信息审核</h6></div>
          <div class="col-md-3 text-center p-0"><h6 class="text-muted m-0">考试费用缴纳</h6></div>
          <div class="col-md-3 text-center p-0"><h4 class="m-0">完成考试报名</h4></div>
        </div>
        <div class="progress mb-4" style="height: 3px;">
          <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0"
               aria-valuemax="100"></div>
        </div>
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> 成功报名信息
          </div>
          <div class="card-body">

          </div>
          <div class="card-footer">

          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>
</div>

