<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span>考试报名</span>
  </li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger alert-dismissible fade show" [hidden]="dangerMessage">
          <strong>注意！！</strong> 本次考试您已经报名，具体信息请前往已报名考试查看。
          <button type="button" class="close">
            <span>×</span>
          </button>
        </div>
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> 考试详情
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-2 form-control-label"><strong>考试编号:</strong></label>
              <div class="col-md-4">
                <p class="form-control-static">{{examInfo.examId}}</p>
              </div>
              <label class="col-md-2 form-control-label"><strong>考试名称:</strong></label>
              <div class="col-md-4">
                <p class="form-control-static">{{examInfo.examName}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 form-control-label"><strong>报名费用:</strong></label>
              <div class="col-md-4">
                <p class="form-control-static">{{examInfo.cost}} 元</p>
              </div>
              <label class="col-md-2 form-control-label"><strong>上限人数:</strong></label>
              <div class="col-md-4">
                <p class="form-control-static">{{examInfo.maxNum}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 form-control-label"><strong>报名时间:</strong></label>
              <div class="col-md-10">
                <p class="form-control-static">{{examInfo.regTimeFrom}} ~ {{examInfo.regTimeTo}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 form-control-label"><strong>考试时间:</strong></label>
              <div class="col-md-10">
                <p class="form-control-static">{{examInfo.examTimeFrom}} ~ {{examInfo.examTimeTo}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 form-control-label"><strong>考试地点:</strong></label>
              <div class="col-md-10">
                <p class="form-control-static">{{examInfo.examPlace}}</p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-success" (click)="onExamRegistration(examInfo.examId, examInfo.examName)" [disabled]="!dangerMessage">
              <i class="fa fa-dot-circle-o"></i> 报名
            </button>
            <button type="reset" class="btn btn-sm btn-danger" [routerLink]="['/layout/test-registration']"><i class="fa fa-ban"></i> 返回
            </button>
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>
</div>
