<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span>修改密码</span>
  </li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> 密码信息
          </div>
          <div class="card-body" [formGroup]="changeModel">
            <div class="form-group row">
              <label class="col-md-3 form-control-label">姓名:</label>
              <div class="col-md-6">
                <p class="form-control-static">{{userName}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">手机号:</label>
              <div class="col-md-6">
                <p class="form-control-static">{{userPhone}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">验证码:</label>
              <div class="col-md-3">
                <input type="text" name="checkid" class="form-control" formControlName="identifycode"
                       placeholder="请输入验证码" [class.hasError]="!identifyError" (input)="userInput()" maxlength="6">
              </div>
              <button class="btn btn-primary col-md-2" [disabled]="!countDownStatus" (click)="onGetIdentifyCode()">
                {{countDownMessage}}
              </button>
              <div class="col-md-1 error-message ml-3"
                   [hidden]="identifyError">
                <label class="error-message-vertical">验证码错误</label>
              </div>
            </div>

            <div formGroupName="loginPasswordsGroup">
              <div class="form-group row">
                <label class="col-md-3 form-control-label">新密码:</label>
                <div class="col-md-6">
                  <input type="password" name="loginpassword" class="form-control" placeholder="请输入新密码"
                         formControlName="loginpassword"
                         [class.hasError]="!(!changeModel.hasError('passwordValid', 'loginPasswordsGroup') || changeModel.get('loginPasswordsGroup').untouched && validStatus)">
                </div>
                <div class="col-md-3 error-message"
                     [hidden]="!changeModel.hasError('passwordValid', 'loginPasswordsGroup') || changeModel.get('loginPasswordsGroup').untouched && validStatus">
                  <label class="error-message-vertical">{{changeModel.getError('passwordValid',
                    'loginPasswordsGroup')?.errorDesc}}</label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">确认新密码:</label>
                <div class="col-md-6">
                  <input type="password" name="pconfim" class="form-control" placeholder="确认新密码"
                         formControlName="pconfirm"
                         [class.hasError]="!(!changeModel.hasError('passwordValid', 'loginPasswordsGroup') || changeModel.get('loginPasswordsGroup').untouched && validStatus)">
                </div>
                <div class="col-md-3 error-message"
                     [hidden]="!changeModel.hasError('passwordValid', 'loginPasswordsGroup') || changeModel.get('loginPasswordsGroup').untouched && validStatus">
                  <label class="error-message-vertical">{{changeModel.getError('passwordValid',
                    'loginPasswordsGroup')?.errorDesc}}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-sm btn-success" (click)="onChangePassw()"><i
              class="fa fa-dot-circle-o"></i> 提交
            </button>
            <button type="reset" class="btn btn-sm btn-danger" (click)="onReset()"><i class="fa fa-ban"></i> 重置</button>
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>
</div>
