<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span>修改密码</span>
  </li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> 密码信息
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 form-control-label">姓名:</label>
              <div class="col-md-6">
                <p class="form-control-static">姓名</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">手机号:</label>
              <div class="col-md-6">
                <input type="text" name="userphone" class="form-control" placeholder="请输入用户手机号">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">验证码:</label>
              <div class="col-md-6">
                <input type="text" name="checkid" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">新密码:</label>
              <div class="col-md-6">
                <input type="text" name="loginpassword" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">确认新密码:</label>
              <div class="col-md-6">
                <input type="text" name="pconfim" class="form-control">
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 提交</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> 重置</button>
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>
</div>
