<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span>首页</span>
  </li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> 公告
          </div>
          <div class="card-body">
            <!--<h1>快点写来不及了要</h1>-->
            <!--<h1>快点写来不及了</h1>-->
            <!--<h1>快点写来不及</h1>-->
            <!--<h1>快点写来不</h1>-->
            <!--<h1>快点写来</h1>-->
            <!--<h1>快点写</h1>-->
            <!--<h1>快点</h1>-->
            <!--<h1>快</h1>-->
            <h1>这里是系统主页</h1>
            <h1>这里是系统主</h1>
            <h1>这里是系统</h1>
            <h1>这里是系</h1>
            <h1>这里是</h1>
            <h1>这里</h1>
            <h1>这</h1>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</div>
