<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">考试信息</li>
  <li class="breadcrumb-item">考试地点管理</li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <table class="table table-responsive-sm table-bordered thead-default">
              <thead>
              <tr>
                <th>市</th>
                <th>区/镇</th>
                <th>具体位置</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let place of placeInfo">
                <td>{{place.city}}</td>
                <td>{{place.district}}</td>
                <td>{{place.place}}</td>
                <td>
                  <button type="button" class="close" style="float: none" (click)="onDelete(place, deleteConfirm)"><i
                    class="icon-trash icons font-2xl"></i></button>
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <button type="button" class="close" style="float: none" (click)="onAdd(addExamInfo)"><i
                    class="icon-plus icons font-2xl"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</div>

<ng-template #deleteConfirm>
  <div class="alert alert-warning mb-0">
    <strong>删除后不可恢复</strong>，请问您确定要删除此条记录吗？
    <hr>
    <button type="button" class="close" style="float: left" (click)="modalRef.hide()"><i
      class="icon-close icons font-2xl"></i></button>
    <button type="button" class="close" (click)="deleteInfo()"><i class="icon-check icons font-2xl"></i></button>
  </div>
</ng-template>

<ng-template #addExamInfo>
  <div class="modal-header">
    <h4 class="modal-title pull-left">添加考试地点</h4>
  </div>
  <div class="modal-body" [formGroup]="examPlaceModel">
    <div class="form-group row">
      <label class="col-md-3 form-control-label"><span class="pull-right">市:</span></label>
      <div class="col-md-5">
        <input type="text" class="form-control" formControlName="city"
               [class.hasError]="!(!examPlaceModel.hasError('cityValid', 'city') || examPlaceModel.get('city').untouched && validStatus)">
      </div>
      <div class="col-md-3 error-message"
           [hidden]="!examPlaceModel.hasError('cityValid', 'city') || examPlaceModel.get('city').untouched && validStatus">
        <label class="error-message-vertical">
          {{examPlaceModel.getError('cityValid', 'city')?.errorDesc}}
        </label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 form-control-label"><span class="pull-right">区/镇:</span></label>
      <div class="col-md-5">
        <input type="text" class="form-control" formControlName="district"
               [class.hasError]="!(!examPlaceModel.hasError('districtValid', 'district') || examPlaceModel.get('district').untouched && validStatus)">
      </div>
      <div class="col-md-3 error-message"
           [hidden]="!examPlaceModel.hasError('districtValid', 'district') || examPlaceModel.get('district').untouched && validStatus">
        <label class="error-message-vertical">
          {{examPlaceModel.getError('districtValid', 'district')?.errorDesc}}
        </label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 form-control-label"><span class="pull-right">具体位置:</span></label>
      <div class="col-md-5">
        <textarea rows="8" class="form-control" formControlName="place"
                  [class.hasError]="!(!examPlaceModel.hasError('placeValid', 'place') || examPlaceModel.get('place').untouched && validStatus)"></textarea>
      </div>
      <div class="col-md-3 error-message"
           [hidden]="!examPlaceModel.hasError('placeValid', 'place') || examPlaceModel.get('place').untouched && validStatus">
        <label>
          {{examPlaceModel.getError('placeValid', 'place')?.errorDesc}}
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary" (click)="addInfo(addFailed)"> 添加
    </button>
    <button type="button" class="btn btn-sm btn-light" (click)="onBack()"> 取消
    </button>
  </div>
</ng-template>

<ng-template #addFailed>
  <div class="alert alert-danger mb-0">
    <strong>添加失败</strong>，已经有相同的考试地点了，请修改后再添加。
    <hr>
    <button type="button" class="close" (click)="modalRef2.hide()"><i class="icon-close icons font-2xl"></i></button>
  </div>
</ng-template>
