<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">个人信息</li>
  <li class="breadcrumb-item">完善/修改个人信息</li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body" [formGroup]="editModel">
            <div class="form-group row">
              <label class="col-md-3 form-control-label">照片:</label>
              <div class="col-md-2">
                <img [src]="imagesPath" width="110px" height="130px">
              </div>
              <div class="col-md-2 d-flex align-items-center">
                <input type="file" name="userphoto" formControlName="userphoto" (change)="onFileChange($event)">
              </div>
              <div class="col-md-2 error-message"
                   [hidden]="imageStatus">
                <label class="error-message-vertical">
                  {{imageMessage}}
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">姓名:</label>
              <div class="col-md-4">
                <input type="text" name="username" class="form-control" formControlName="username"
                       [class.hasError]="!(!editModel.hasError('usernameValid', 'username') || editModel.get('username').untouched && validStatus)">
              </div>
              <div class="col-md-2 error-message"
                   [hidden]="!editModel.hasError('usernameValid', 'username') || editModel.get('username').untouched && validStatus">
                <label class="error-message-vertical">
                  {{editModel.getError('usernameValid', 'username')?.errorDesc}}
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">性别:</label>
              <div class="col-md-4">
                <div
                  [class.hasError]="!(!editModel.hasError('usersexValid', 'usersex') || editModel.get('usersex').untouched && validStatus)">
                  <label class="radio-inline">
                    <input type="radio" name="usersex" value="1" formControlName="usersex"> 男
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="usersex" value="0" formControlName="usersex"> 女
                  </label>
                </div>
              </div>
              <div class="col-md-2 error-message"
                   [hidden]="!editModel.hasError('usersexValid', 'usersex') || editModel.get('usersex').untouched && validStatus">
                <label class="error-message-vertical">
                  {{editModel.getError('usersexValid', 'usersex')?.errorDesc}}
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">身份证号:</label>
              <div class="col-md-4">
                <input type="text" name="idcard" class="form-control" formControlName="idcard"
                       [class.hasError]="!(!editModel.hasError('idcardValid', 'idcard') || editModel.get('idcard').untouched && validStatus)">
              </div>
              <div class="col-md-2 error-message"
                   [hidden]="!editModel.hasError('idcardValid', 'idcard') || editModel.get('idcard').untouched && validStatus">
                <label class="error-message-vertical">
                  {{editModel.getError('idcardValid', 'idcard')?.errorDesc}}
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">职业:</label>
              <div class="col-md-4">
                <select name="userprofession" class="form-control" formControlName="userprofession"
                        [class.hasError]="!(!editModel.hasError('userprofessionValid', 'userprofession') || editModel.get('userprofession').untouched && validStatus)">
                  <option value="0">学生</option>
                  <option value="1">在职</option>
                  <option value="2">其他</option>
                </select>
              </div>
              <div class="col-md-2 error-message"
                   [hidden]="!editModel.hasError('userprofessionValid', 'userprofession') || editModel.get('userprofession').untouched && validStatus">
                <label class="error-message-vertical">
                  {{editModel.getError('userprofessionValid', 'userprofession')?.errorDesc}}
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">邮箱地址:</label>
              <div class="col-md-4">
                <input type="text" name="emailaddress" class="form-control" formControlName="emailaddress"
                       [class.hasError]="!(!editModel.hasError('emailaddressValid', 'emailaddress') || editModel.get('emailaddress').untouched && validStatus)">
              </div>
              <div class="col-md-2 error-message"
                   [hidden]="!editModel.hasError('emailaddressValid', 'emailaddress') || editModel.get('emailaddress').untouched && validStatus">
                <label class="error-message-vertical">
                  {{editModel.getError('emailaddressValid', 'emailaddress')?.errorDesc}}
                </label>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 form-control-label">居住地址:</label>
              <div class="col-md-4">
                <input type="text" name="residentialaddress" class="form-control" formControlName="residentialaddress"
                       [class.hasError]="!(!editModel.hasError('residentialaddressValid', 'residentialaddress') || editModel.get('residentialaddress').untouched && validStatus)">
              </div>
              <div class="col-md-2 error-message"
                   [hidden]="!editModel.hasError('residentialaddressValid', 'residentialaddress') || editModel.get('residentialaddress').untouched && validStatus">
                <label class="error-message-vertical">
                  {{editModel.getError('residentialaddressValid', 'residentialaddress')?.errorDesc}}
                </label>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-success" (click)="onEdit(updateSuccess, updateFailed)"><i
              class="fa fa-dot-circle-o"></i>
              提交
            </button>
            <button type="reset" class="btn btn-sm btn-danger" (click)="onReset()"><i class="fa fa-ban"></i> 重置</button>
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>
</div>

<ng-template #updateSuccess>
  <div class="alert alert-success mb-0">
    <strong>更新成功</strong>，个人信息已修改！
    <hr>
    <button type="button" class="close" (click)="modalRef.hide()"><i class="icon-check icons font-2xl"></i></button>
  </div>
</ng-template>

<ng-template #updateFailed>
  <div class="alert alert-danger mb-0">
    <strong>更新失败</strong>，身份证已有其他账户使用！
    <hr>
    <button type="button" class="close" (click)="modalRef.hide()"><i class="icon-close icons font-2xl"></i></button>
  </div>
</ng-template>
