<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span>已报名考试</span>
  </li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> 考试信息
          </div>
          <div class="card-body">
            <table class="table table-responsive-sm table-bordered thead-default">
              <thead>
              <tr>
                <th>考试编号</th>
                <th>考试名称</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let creinfos of completeREInfo">
                <td>{{creinfos.examId}}</td>
                <td>{{creinfos.examName}}</td>
                <td *ngIf="creinfos.status == '00'">
                  <span class="badge badge-warning">等待审核</span>
                </td>
                <td *ngIf="creinfos.status == '10'">
                  <span class="badge badge-warning">审核通过，待缴费</span>
                </td>
                <td *ngIf="creinfos.status == '11'">
                  <span class="badge badge-danger">审核未通过</span>
                </td>
                <td *ngIf="creinfos.status == '20'">
                  <span class="badge badge-success">报名成功</span>
                </td>
                <td *ngIf="creinfos.status == '21'">
                  <span class="badge badge-secondary">报名已过期</span>
                </td>
                <td *ngIf="creinfos.status == '00'">
                  <button type="button" class="btn btn-sm btn-primary" (click)="onCancelRegist(creinfos.examId, '你确定要取消报名吗？', '00')"> 取消报名
                  </button>
                </td>
                <td *ngIf="creinfos.status == '10'">
                  <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/layout/test-pay']"> 前往缴费
                  </button>
                </td>
                <td *ngIf="creinfos.status == '11'">
                  <button type="button" class="btn btn-sm btn-primary" (click)="onReReg(creinfos.examId)"> 重新报名</button>
                </td>
                <td *ngIf="creinfos.status == '20'">
                  <button type="button" class="btn btn-sm btn-primary" (click)="onSuccessInfo()"> 报名详情</button>
                </td>
                <td *ngIf="creinfos.status == '21'">
                  <button type="button" class="btn btn-sm btn-primary" (click)="onCancelRegist(creinfos.examId, '你确定要删除这条记录吗？', '21')"> 删除记录</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</div>
