<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">考试信息</li>
  <li class="breadcrumb-item">已报名考试</li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <table class="table table-responsive-sm table-bordered thead-default">
              <thead>
              <tr>
                <th>考试编号</th>
                <th>考试名称</th>
                <th>状态</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let creinfos of completeREInfo">
                <td>{{creinfos.examId}}</td>
                <td>{{creinfos.examName}}</td>
                <td *ngIf="creinfos.status == '00'">
                  <span class="badge badge-warning">等待审核</span>
                </td>
                <td *ngIf="creinfos.status == '10'">
                  <span class="badge badge-warning">审核通过，待缴费</span>
                </td>
                <td *ngIf="creinfos.status == '11'">
                  <span class="badge badge-danger">审核未通过</span>
                </td>
                <td *ngIf="creinfos.status == '20'">
                  <span class="badge badge-success">报名成功</span>
                </td>
                <td *ngIf="creinfos.status == '21'">
                  <span class="badge badge-secondary">报名已过期</span>
                </td>
                <td *ngIf="creinfos.status == '00'">
                  <button type="button" class="btn btn-sm btn-primary"
                          (click)="onCancelRegist(creinfos.examId, '00', cancelConfirm)"> 取消报名
                  </button>
                </td>
                <td *ngIf="creinfos.status == '10'">
                  <button type="button" class="btn btn-sm btn-primary" [routerLink]="['/layout/test-pay']"> 前往缴费
                  </button>
                </td>
                <td *ngIf="creinfos.status == '11'">
                  <button type="button" class="btn btn-sm btn-primary"
                          (click)="onCancelRegist(creinfos.examId, '11', reConfirm)"> 重新报名
                  </button>
                </td>
                <td *ngIf="creinfos.status == '20'">
                  <button type="button" class="btn btn-sm btn-primary" (click)="onSuccessInfo(creinfos.examId)"> 报名详情
                  </button>
                </td>
                <td *ngIf="creinfos.status == '21'">
                  <button type="button" class="btn btn-sm btn-primary"
                          (click)="onCancelRegist(creinfos.examId, '21', deleteConfirm)"> 删除记录
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</div>

<ng-template #cancelConfirm>
  <div class="alert alert-warning mb-0">
    <strong>取消后必须重新报名等待审核，并且可能由于上限人数无法再次报名</strong>，您确定要取消报名吗？
    <hr>
    <button type="button" class="close" style="float: left" (click)="modalRef.hide()"><i
      class="icon-close icons font-2xl"></i></button>
    <button type="button" class="close" (click)="deleteInfo()"><i class="icon-check icons font-2xl"></i></button>
  </div>
</ng-template>

<ng-template #deleteConfirm>
  <div class="alert alert-warning mb-0">
    <strong>这条记录将永久删除</strong>，您确定要删除这条记录吗？
    <hr>
    <button type="button" class="close" style="float: left" (click)="modalRef.hide()"><i
      class="icon-close icons font-2xl"></i></button>
    <button type="button" class="close" (click)="deleteInfo()"><i class="icon-check icons font-2xl"></i></button>
  </div>
</ng-template>

<ng-template #reConfirm>
  <div class="alert alert-warning mb-0">
    <strong>重新报名将删除此条记录</strong>，您确定要重新报名吗？
    <hr>
    <button type="button" class="close" style="float: left" (click)="modalRef.hide()"><i
      class="icon-close icons font-2xl"></i></button>
    <button type="button" class="close" (click)="deleteInfo()"><i class="icon-check icons font-2xl"></i></button>
  </div>
</ng-template>
