// Here you can add other styles
.hasError {
  border: red 1px solid;
}

.error-message {
  background-color: #fee2e1;
  border: #fdd6d6 1px solid;
  color: #813838;
}

.error-message-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

.error-space {
  border: white 1px solid;
}

th, td {
  text-align: center;
}

.table tbody tr td {
  vertical-align: middle;
}

.bg-indigo {
  background-color: #6610f2;
  color: #fff;
}

.text-indigo {
  color: #6610f2;
}

.bg-pink {
  background-color: #FFB6C1;
  color: #fff;
}

.text-pink {
  color: #FFB6C1;
}

.bg-wheat {
  background-color: #F5DEB3;
  color: #fff;
}

.text-wheat {
  color: #F5DEB3;
}

.bg-gray {
  background-color: #acb4bc;
  color: #fff;
}

.text-gray {
  color: #acb4bc;
}

.bg-purple {
  background-color: #800080;
  color: #fff;
}

.text-purple {
  color: #800080;
}
