// Here you can add other styles
.hasError {
  border: red 1px solid;
}

.error-message {
  background-color: #fee2e1;
  border: #fdd6d6 1px solid;
  color: #813838;
}

.error-message-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

.error-space {
  border: white 1px solid;
}

th, td {
  text-align: center;
}

.table tbody tr td {
  vertical-align: middle;
}
