<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <span>成绩查询</span>
  </li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> 成绩信息
          </div>
          <div class="card-body">
            <div class="form-group row pt-3" [formGroup]="searchModel">
              <div class="col-md-3">
                &nbsp;
              </div>
              <div class="col-md-4">
                <input type="text" name="admissionticket" class="form-control" placeholder="输入准考证号查询成绩"
                       formControlName="admissionticket">
              </div>
              <div class="col-md-2 p-0">
                <button type="button" class="btn btn-primary" (click)="onSearchScore()">&nbsp;<i
                  class="fa fa-search fa-lg"></i>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查询成绩
                </button>
              </div>
            </div>
            <hr>
            <div class="form-group row pt-3" [hidden]="scoreInfo">
              <div class="col-md-6 text-center">
                <h3>考试名称:
                  <span class="badge badge-secondary">{{examName}}</span>
                </h3>
              </div>
              <div class="col-md-6 text-center">
                <h3>考试成绩:
                  <span class="badge badge-secondary">{{score}}</span>
                </h3>
              </div>
            </div>
            <div class="form-group row pt-3" [hidden]="errorInfo">
              <div class="col-md-12 text-center">
                <h3>
                  查询的准考证号不存在！请重新输入。
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</div>
