<!-- Breadcrumb -->
<ol class="breadcrumb">
  <li class="breadcrumb-item">成绩相关</li>
  <li class="breadcrumb-item">成绩录入</li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <table class="table table-responsive-sm table-bordered thead-default">
              <thead>
              <tr>
                <th>考试编号</th>
                <th>考试名称</th>
                <th>报考人数</th>
                <th>考试日期</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let exams of examInfo">
                <td>{{exams.examId}}</td>
                <td>{{exams.examName}}</td>
                <td>{{exams.registNum}}</td>
                <td>{{exams.examTimePeriod1 | strLength: 10}}</td>
                <td>
                  <button type="submit" class="btn btn-sm btn-primary"
                          (click)="onGetEntryList(exams.examId, skipConfirm)"> 录入成绩
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
            <hr>
            <div [hidden]="isNoInfo">
              <h2>没有数据</h2>
            </div>
            <div [hidden]="showEntryInfo">
              <table class="table table-responsive-sm table-bordered thead-default">
                <thead>
                <tr>
                  <th>考生姓名</th>
                  <th>考生准考证</th>
                  <th>考生成绩</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let examEntry of examEntryInfo">
                  <td>{{examEntry.userName}}</td>
                  <td>{{examEntry.admissionTicket}}</td>
                  <td><input type="number" class="form-control" placeholder="请输入考生成绩" [(ngModel)]="examEntry.score">
                  </td>
                </tr>
                </tbody>
              </table>
              <button class="btn btn-sm btn-success" (click)="onEntryScore()">提交成绩</button>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
</div>

<ng-template #skipConfirm>
  <div class="alert alert-warning mb-0">
    <strong>注意</strong>！请问您是否放弃当前录入的信息？
    <hr>
    <button type="button" class="close" style="float: left" (click)="modalRef.hide()"><i
      class="icon-close icons font-2xl"></i></button>
    <button type="button" class="close" (click)="skipOther()"><i class="icon-check icons font-2xl"></i></button>
  </div>
</ng-template>
